{
  "extends": ["airbnb", "prettier", "airbnb-typescript"],
  "parserOptions": {
       "project": "./tsconfig.json"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": [
      "error",
      {
        "custom": "ignore"
      }
    ],
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx"]
      }
    ],
    "import/prefer-default-export": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}
